*
{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 200px;
}

button {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}


p {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}



.buttons {
    margin-left: 750px;
    margin-top: 50px;
}

button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
    margin-top: 15px;
  border-radius: 15px;
  background: #3498db;
  box-shadow: 0 -3px #2E86C1 inset;
  transition: 0.2s;
} 
button:hover { background: #2E86C1; }
button:active {
  background: #2E86C1;
  box-shadow: 0 3px #2E86C1 inset;
}